.todo{
    font-size: 18px;
    position: relative;
    height: 36px;
    line-height: 36px;
    list-style-type: none;
}

.todo-delete{
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 36px;
    height: 36px;
    margin: auto 0;
    font-size: 28px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}
.todo-toggle{
    font-size: 24px;
}

